In [1]:
import numpy as np 
import pandas as pd

**importing data sets and converting to data frames**

In [16]:
sydney_2000 = pd.read_csv('./male_olympics_results/results_2000_sydney.csv')

In [17]:
athens_2004 = pd.read_csv('./male_olympics_results/results_2004_athens.csv')

In [18]:
beijing_2008 = pd.read_csv('./male_olympics_results/results_2008_beijing.csv')

In [19]:
london_2012 = pd.read_csv('./male_olympics_results/results_2012_london.csv')

In [20]:
rio_2016 = pd.read_csv('./male_olympics_results/results_2016_rio.csv')

In [21]:
tokyo_2020 = pd.read_csv('./male_olympics_results/results_2020_tokyo.csv')

In [22]:
paris_2024 = pd.read_csv('./male_olympics_results/results_2024_paris.csv')

**adding identifier columns to each dataframe: event and host_country**

In [26]:
sydney_2000['event'] = 'sydney_2000'
sydney_2000['host_country'] = 'AUS'

In [28]:
athens_2004['event'] = 'athens_2004'
athens_2004['host_country'] = 'GRE'

In [27]:
beijing_2008['event'] = 'beijing_2008'
beijing_2008['host_country'] = 'CHN'

In [29]:
london_2012['event'] = 'london_2012'
london_2012['host_country'] = 'GBR'

In [30]:
rio_2016['event'] = 'rio_2016'
rio_2016['host_country'] = 'BRA'

In [31]:
tokyo_2020['event'] = 'tokyo_2020'
tokyo_2020['host_country'] = 'JPN'

In [32]:
paris_2024['event'] = 'paris_2024'
paris_2024['host_country'] = 'FRA'

**altering variable types for analysis**
1. times from object to timedelta

In [36]:
all_events = [sydney_2000, athens_2004, beijing_2008, london_2012, rio_2016, tokyo_2020, paris_2024]

for event in all_events:
    event['Swim'] = pd.to_timedelta(event['Swim'])
    event['T1'] = pd.to_timedelta(event['T1'])
    event['Bike'] = pd.to_timedelta(event['Bike'])
    event['T2'] = pd.to_timedelta(event['T2'])
    event['Run'] = pd.to_timedelta(event['Run'])
    event['Total Time'] = pd.to_timedelta(event['Total Time'])

2. athlete_id and program_id to objects to treat as labels

In [38]:
for event in all_events:
    event['Program ID'] = event['Program ID'].astype('object')
    event['Athlete ID'] = event['Athlete ID'].astype('object')
    event['Start Number'] = event['Start Number'].astype('object')

3. status_column
3(i) removing all rows in which status_column == DNF(DidNotFinish) or DNS(DidNotStart) or DSQ(DiSQualified) or LAP(Lapped)

In [45]:
beijing_2008[ (beijing_2008['Status']=='DNF') | (beijing_2008['Status']=='DNS') | (beijing_2008['Status']=='DSQ') | (beijing_2008['Status']=='LAP')]

,Program ID,Athlete ID,Athlete First Name,Athlete Last Name,Country,Start Number,Swim,T1,Bike,T2,Run,Position,Status,Total Time,event,host_country
50,4392,5851,Tony,Moulai,FRA,39,0 days 00:18:27,0 days 00:00:29,0 days 00:58:49,0 days 00:00:29,0 days,NaN,DNF,0 days,beijing_2008,CHN
51,4392,5305,Tim,Don,GBR,37,0 days 00:18:54,0 days 00:00:26,0 days 00:00:00,0 days 00:00:00,0 days,-3.0,LAP,0 days,beijing_2008,CHN
52,4392,5355,Andriy,Glushchenko,UKR,1,0 days 00:18:58,0 days 00:00:26,0 days 00:00:00,0 days 00:00:00,0 days,-3.0,LAP,0 days,beijing_2008,CHN
53,4392,5750,Marek,Jaskolka,POL,49,0 days 00:18:54,0 days 00:00:29,0 days 00:00:00,0 days 00:00:00,0 days,-3.0,LAP,0 days,beijing_2008,CHN
54,4392,6997,Pavel,Simko,SVK,46,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days,NaN,DNF,0 days,beijing_2008,CHN

In [46]:
for event in all_events:
    event.drop( 
        event.loc[ (event['Status']=='DNF') | 
                  (event['Status']=='DNS') | 
                  (event['Status']=='DSQ') | 
                  (event['Status']=='LAP')].index, 
                inplace=True 
            )

4. delete Status column which is now redundant.

In [47]:
for event in all_events:
    event.drop('Status', axis=1, inplace=True)

In [48]:
beijing_2008.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Program ID          50 non-null     object
 1   Athlete ID          50 non-null     object
 2   Athlete First Name  50 non-null     object
 3   Athlete Last Name   50 non-null     object
 4   Country             50 non-null     object
 5   Start Number        50 non-null     object
 6   Swim                50 non-null     timedelta64[ns]
 7   T1                  50 non-null     timedelta64[ns]
 8   Bike                50 non-null     timedelta64[ns]
 9   T2                  50 non-null     timedelta64[ns]
 10  Run                 50 non-null     timedelta64[ns]
 11  Position            50 non-null     float64
 12  Total Time          50 non-null     timedelta64[ns]
 13  event               50 non-null     object
 14  host_country        50 non-null     object
dtypes: float64(1), object(8), timedelta64[ns](6)
memory usage: 6.0+ KB

**concatenating all data for final cleaning and to facilitate analysis**

In [65]:
all_results = pd.concat([sydney_2000, athens_2004, beijing_2008, london_2012, rio_2016, tokyo_2020, paris_2024],
                        keys=['sydney_2000', 'athens_2004', 'beijing_2008', 'london_2012', 'rio_2016', 'tokyo_2020', 'paris_2024'],
                        ignore_index=True)

**checking for any remaining nulls**

In [66]:
all_results.isna().sum()

Program ID            0
Athlete ID            0
Athlete First Name    0
Athlete Last Name     0
Country               0
Start Number          0
Swim                  0
T1                    0
Bike                  0
T2                    0
Run                   0
Position              0
Total Time            0
event                 0
host_country          0
dtype: int64

**some final cleaning**
1. standardising column names

In [68]:
#all columns to lowercase
all_results.columns = map(str.lower, all_results.columns)

In [74]:
#removing spaces
all_results.columns = [col.replace(' ', '_') for col in all_results.columns]

In [75]:
all_results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345 entries, 0 to 344
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   program_id          345 non-null    object
 1   athlete_id          345 non-null    object
 2   athlete_first_name  345 non-null    object
 3   athlete_last_name   345 non-null    object
 4   country             345 non-null    object
 5   start_number        345 non-null    object
 6   swim                345 non-null    timedelta64[ns]
 7   t1                  345 non-null    timedelta64[ns]
 8   bike                345 non-null    timedelta64[ns]
 9   t2                  345 non-null    timedelta64[ns]
 10  run                 345 non-null    timedelta64[ns]
 11  position            345 non-null    float64
 12  total_time          345 non-null    timedelta64[ns]
 13  event               345 non-null    object
 14  host_country        345 non-null    object
dtypes: float64(1), object(8), timedelta64[ns](6)
memory usage: 40.6+ KB

**saving to csv to keep an original version and for sharing**

In [76]:
all_results.to_csv('all_results.csv', index=False, header=True)

In [ ]:
all_results